<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	    					http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	    					http://www.springframework.org/schema/mvc
	    					http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
			http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">



<!--
    <mvc:annotation-driven >
        <mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
                <property name="features">
                    <array>
                        <value>QuoteFieldNames</value>
                        <value>WriteNonStringKeyAsString</value>
                        <value>WriteNullListAsEmpty</value>
                        <value>WriteNullBooleanAsFalse</value>
                        <value>WriteNullNumberAsZero</value>
                        <value>WriteMapNullValue</value>
                        <value>WriteNullStringAsEmpty</value>
                        <value>WriteDateUseDateFormat</value>
                    </array>
                </property>
                <property name="dateFormat" value="yyyy-MM-dd HH:mm"/>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
-->


	<bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
		<constructor-arg name="requestFactory" ref="requestFactory" />
	</bean>

	<bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder" factory-method="create">
		<!--开启重试-->
		<property name="retryHandler">
			<bean class="com.ws.util.http.AllowTimeoutHttpRequestRetryHandler">
				<constructor-arg value="${rest.client.retryTimes}" />
				<constructor-arg value="true" />
			</bean>
		</property>
		<property name="maxConnTotal" value="100"></property>
	</bean>

	<bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build" />

	<bean id="requestFactory" class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory">
		<constructor-arg name="httpClient" ref="httpClient" />
		<property name="connectionRequestTimeout" value="${rest.client.connectionRequestTimeout}" />
		<property name="connectTimeout" value="${rest.client.connectTimeout}" />
		<property name="readTimeout" value="${rest.client.readTimeout}" />
	</bean>





</beans>
